@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root{
  --prim:#000000;
  --secu: #E93E30;
  --terc: #F7E018;
  --cuarto: #299ED5;
  --quinto: #292C33;
  --sexto: #67C770;
  --sept: #563D7C;
  --white: #cccccc;
  --whitegray: lightgray;
}
* {
    font-family: 'Poppins', sans-serif;
  }
body {

  font-size: 18px;
  font-weight: 400;
  padding: 0 96px;
}
.header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--white);
    padding: 16px;
  }

.header__text1 {
    font-size: 20px;
  }
   
.header__img {
    height: 55px;
    width: 55px;
    border-radius: 10px;
    margin-right: 16px
  }
  
.novedad {
    border-bottom: 3px solid var(--white);
    padding-bottom: 32px;
  }
  
.novedad__texto2 {
    font-size: 24px;
    font-weight: 700;
  }
  
.novedad__div {
    display: grid;
    grid-column-gap: 16px;
    grid-template-columns: 2fr 1fr;
  }

.post__cont {
    line-height: 36px;
  }

.post__imagbs {
    width: 603px;
    height: 314px;
    object-fit: cover;
    border-radius: 20px;
  }

.post__textop { 
    overflow: hidden;
    margin: 8px 0;  
    font-weight: 700;
    font-size: 20px;
    height: 60px;
  }
  
.post__autor {
    display: flex;
    align-items: center;
  }
  
.post__imglogo {
    height: 60px;
    border-radius: 50%;
    margin-right: 16px;
  }
  
.post__span {
    font-weight: 500;
    font-size: 20px;
  }
  
.post__prev {
    display: flex;
    flex-direction: column;
  }
  
.post__prev--row {
    margin-bottom: 24px;
    height: 145px;
    display: flex;
    gap: 16px;
  }
  
.post__cont2 {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  
.post__imagbs--s {
    width: 189px;
    height: 145px;
    object-fit: cover;
    border-radius: 20px;
  }
    
.post__imglogo--s {
    border-radius: 50%;
    margin-right: 16px;
    box-shadow: 2px 2px 4px var(--whitegray);
    height: 40px;
    width: 40px;

  }
  
.post__span--s {
    font-size: 12px;
  } 
  
.post__fecha--s {
    font-size: 11px;
  }

.popular__section {
  display: grid;
  grid-template-columns: 70% 30%;
  padding-bottom: 32px;
  border-bottom: 3px solid var(--white);
}

.popular__div {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 32px;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px ;
}

.popular {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.popular__img--s {
  width: 298px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.categoria__div {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: start;
}

.categorias {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  font-size: 28px;
  font-weight: 700;
  border-radius: 10px;
  width: 298px;
  height: 90px;
  padding: 0 16px;
}

.categoria__h3 {
  font-size: 24px;
  font-weight: 700;
}


.categorias__logo {
  width: 85px;
  height: 74px;
}

.categorias--html {
  background-color: var(--secu);
}

.categorias--js {
  background-color: var(--terc);
}

.categorias--css {
  background-color: var(--cuarto);
}

.categorias--react {
  background-color: var(--quinto);
}

.categorias--vue {
  background-color: var(--sexto);
}

.categorias--bs {
  background-color: var(--sept);
}

.categorias__more {
  color: var(--prim);
  font-weight: 400;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__div {
  display: flex;
  align-items: center;
  padding: 32px 0;
}

.footer__logo {
  border-radius: 10px;
  margin-right: 16px;
  width: 55px;
  height: 55px;
}

.footer__h1 {
 font-size:20px;
}

.footer__p {
  font-weight: 400;
  text-align: right;
  color: var(--prim);
}
